@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  /* Radix Color Scale */
  /* 1 */
  --app-background: #fff;
  --app-background-accent: #fff;
  --app-background-error: #f0f0f0;
  --app-background-success: #f0f0f0;
  --app-background-warning: #f0f0f0;
  --app-background-info: #f0f0f0;
  /* 2 */
  --subtle-background: #f9f9f9;
  --subtle-background-accent: #f0f0f0;
  --subtle-background-error: #f0f0f0;
  --subtle-background-success: #f0f0f0;
  --subtle-background-warning: #f0f0f0;
  --subtle-background-info: #f0f0f0;
  /* 3 */
  --ui-element-background: #fff;
  --ui-element-background-accent: #f0f0f0;
  --ui-element-background-error: #f0f0f0;
  --ui-element-background-success: #f0f0f0;
  --ui-element-background-warning: #f0f0f0;
  --ui-element-background-info: #f0f0f0;
  /* 4 */
  --hovered-ui-element-background: #fff;
  --hovered-ui-element-background-accent: #f0f0f0;
  --hovered-ui-element-background-error: #f0f0f0;
  --hovered-ui-element-background-success: #f0f0f0;
  --hovered-ui-element-background-warning: #f0f0f0;
  --hovered-ui-element-background-info: #f0f0f0;
  /* 5 */
  --active-ui-element-background: #fff;
  --active-ui-element-background-accent: #f0f0f0;
  --active-ui-element-background-error: #f0f0f0;
  --active-ui-element-background-success: #f0f0f0;
  --active-ui-element-background-warning: #f0f0f0;
  --active-ui-element-background-info: #f0f0f0;
  /* 6 */
  --subtle-border: #fff;
  --subtle-border-accent: #f0f0f0;
  --subtle-border-error: #f0f0f0;
  --subtle-border-success: #f0f0f0;
  --subtle-border-warning: #f0f0f0;
  --subtle-border-info: #f0f0f0;
  /* 7 */
  --ui-element-border: #fff;
  --ui-element-border-accent: #f0f0f0;
  --ui-element-border-error: #f0f0f0;
  --ui-element-border-success: #f0f0f0;
  --ui-element-border-warning: #f0f0f0;
  --ui-element-border-info: #f0f0f0;
  /* 8 */
  --hovered-ui-element-border: #fff;
  --hovered-ui-element-border-accent: #f0f0f0;
  --hovered-ui-element-border-error: #f0f0f0;
  --hovered-ui-element-border-success: #f0f0f0;
  --hovered-ui-element-border-warning: #f0f0f0;
  --hovered-ui-element-border-info: #f0f0f0;
  /* 9 */
  --solid-background: #fff;
  --solid-background-accent: #f0f0f0;
  --solid-background-error: #f0f0f0;
  --solid-background-success: #f0f0f0;
  --solid-background-warning: #f0f0f0;
  --solid-background-info: #f0f0f0;
  /* 10 */
  --hovered-solid-background: #fff;
  --hovered-solid-background-accent: #f0f0f0;
  --hovered-solid-background-error: #f0f0f0;
  --hovered-solid-background-success: #f0f0f0;
  --hovered-solid-background-warning: #f0f0f0;
  --hovered-solid-background-info: #f0f0f0;
  /* 11 */
  --low-contrast-text: #fff;
  --low-contrast-text-accent: #f0f0f0;
  --low-contrast-text-error: #f0f0f0;
  --low-contrast-text-success: #f0f0f0;
  --low-contrast-text-warning: #f0f0f0;
  --low-contrast-text-info: #f0f0f0;
  /* 12 */
  --high-contrast-text: #fff;
  --high-contrast-text-accent: #f0f0f0;
  --high-contrast-text-error: #f0f0f0;
  --high-contrast-text-success: #f0f0f0;
  --high-contrast-text-warning: #f0f0f0;
  --high-contrast-text-info: #f0f0f0;
}

.dark {
  /* Radix Color Scale */
  /* 1 */
  --app-background: #fff;
  --app-background-alpha: #fff;
  --app-background-accent: #fff;
  --app-background-accent-alpha: #fff;
  --app-background-error: #f0f0f0;
  --app-background-error-alpha: #f0f0f0;
  --app-background-success: #f0f0f0;
  --app-background-success-alpha: #f0f0f0;
  --app-background-warning: #f0f0f0;
  --app-background-warning-alpha: #f0f0f0;
  --app-background-info: #f0f0f0;
  --app-background-info-alpha: #f0f0f0;

  /* 2 */
  --subtle-background: #f9f9f9;
  --subtle-background-alpha: #f9f9f9;
  --subtle-background-accent: #f0f0f0;
  --subtle-background-accent-alpha: #f0f0f0;
  --subtle-background-error: #f0f0f0;
  --subtle-background-error-alpha: #f0f0f0;
  --subtle-background-success: #f0f0f0;
  --subtle-background-success-alpha: #f0f0f0;
  --subtle-background-warning: #f0f0f0;
  --subtle-background-warning-alpha: #f0f0f0;
  --subtle-background-info: #f0f0f0;
  --subtle-background-info-alpha: #f0f0f0;

  /* 3 */
  --ui-element-background: #fff;
  --ui-element-background-alpha: #fff;
  --ui-element-background-accent: #f0f0f0;
  --ui-element-background-accent-alpha: #f0f0f0;
  --ui-element-background-error: #f0f0f0;
  --ui-element-background-error-alpha: #f0f0f0;
  --ui-element-background-success: #f0f0f0;
  --ui-element-background-success-alpha: #f0f0f0;
  --ui-element-background-warning: #f0f0f0;
  --ui-element-background-warning-alpha: #f0f0f0;
  --ui-element-background-info: #f0f0f0;
  --ui-element-background-info-alpha: #f0f0f0;
  /* 4 */
  --hovered-ui-element-background: #fff;
  --hovered-ui-element-background-alpha: #fff;
  --hovered-ui-element-background-accent: #f0f0f0;
  --hovered-ui-element-background-accent-alpha: #f0f0f0;
  --hovered-ui-element-background-error: #f0f0f0;
  --hovered-ui-element-background-error-alpha: #f0f0f0;
  --hovered-ui-element-background-success: #f0f0f0;
  --hovered-ui-element-background-success-alpha: #f0f0f0;
  --hovered-ui-element-background-warning: #f0f0f0;
  --hovered-ui-element-background-warning-alpha: #f0f0f0;
  --hovered-ui-element-background-info: #f0f0f0;
  --hovered-ui-element-background-info-alpha: #f0f0f0;
  /* 5 */
  --active-ui-element-background: #fff;
  --active-ui-element-background-alpha: #fff;
  --active-ui-element-background-accent: #f0f0f0;
  --active-ui-element-background-accent-alpha: #f0f0f0;
  --active-ui-element-background-error: #f0f0f0;
  --active-ui-element-background-error-alpha: #f0f0f0;
  --active-ui-element-background-success: #f0f0f0;
  --active-ui-element-background-success-alpha: #f0f0f0;
  --active-ui-element-background-warning: #f0f0f0;
  --active-ui-element-background-warning-alpha: #f0f0f0;
  --active-ui-element-background-info: #f0f0f0;
  --active-ui-element-background-info-alpha: #f0f0f0;
  /* 6 */
  --subtle-border: #fff;
  --subtle-border-alpha: #fff;
  --subtle-border-accent: #f0f0f0;
  --subtle-border-accent-alpha: #f0f0f0;
  --subtle-border-error: #f0f0f0;
  --subtle-border-error-alpha: #f0f0f0;
  --subtle-border-success: #f0f0f0;
  --subtle-border-success-alpha: #f0f0f0;
  --subtle-border-warning: #f0f0f0;
  --subtle-border-warning-alpha: #f0f0f0;
  --subtle-border-info: #f0f0f0;
  --subtle-border-info-alpha: #f0f0f0;
  /* 7 */
  --ui-element-border: #fff;
  --ui-element-border-alpha: #fff;
  --ui-element-border-accent: #f0f0f0;
  --ui-element-border-accent-alpha: #f0f0f0;
  --ui-element-border-error: #f0f0f0;
  --ui-element-border-error-alpha: #f0f0f0;
  --ui-element-border-success: #f0f0f0;
  --ui-element-border-success-alpha: #f0f0f0;
  --ui-element-border-warning: #f0f0f0;
  --ui-element-border-warning-alpha: #f0f0f0;
  --ui-element-border-info: #f0f0f0;
  --ui-element-border-info-alpha: #f0f0f0;
  /* 8 */
  --hovered-ui-element-border: #fff;
  --hovered-ui-element-border-alpha: #fff;
  --hovered-ui-element-border-accent: #f0f0f0;
  --hovered-ui-element-border-accent-alpha: #f0f0f0;
  --hovered-ui-element-border-error: #f0f0f0;
  --hovered-ui-element-border-error-alpha: #f0f0f0;
  --hovered-ui-element-border-success: #f0f0f0;
  --hovered-ui-element-border-success-alpha: #f0f0f0;
  --hovered-ui-element-border-warning: #f0f0f0;
  --hovered-ui-element-border-warning-alpha: #f0f0f0;
  --hovered-ui-element-border-info: #f0f0f0;
  --hovered-ui-element-border-info-alpha: #f0f0f0;
  /* 9 */
  --solid-background: #fff;
  --solid-background-alpha: #fff;
  --solid-background-accent: #f0f0f0;
  --solid-background-accent-alpha: #f0f0f0;
  --solid-background-error: #f0f0f0;
  --solid-background-error-alpha: #f0f0f0;
  --solid-background-success: #f0f0f0;
  --solid-background-success-alpha: #f0f0f0;
  --solid-background-warning: #f0f0f0;
  --solid-background-warning-alpha: #f0f0f0;
  --solid-background-info: #f0f0f0;
  --solid-background-info-alpha: #f0f0f0;
  /* 10 */
  --hovered-solid-background: #fff;
  --hovered-solid-background-alpha: #fff;
  --hovered-solid-background-accent: #f0f0f0;
  --hovered-solid-background-accent-alpha: #f0f0f0;
  --hovered-solid-background-error: #f0f0f0;
  --hovered-solid-background-error-alpha: #f0f0f0;
  --hovered-solid-background-success: #f0f0f0;
  --hovered-solid-background-success-alpha: #f0f0f0;
  --hovered-solid-background-warning: #f0f0f0;
  --hovered-solid-background-warning-alpha: #f0f0f0;
  --hovered-solid-background-info: #f0f0f0;
  --hovered-solid-background-info-alpha: #f0f0f0;
  /* 11 */
  --low-contrast-text: #fff;
  --low-contrast-text-alpha: #fff;
  --low-contrast-text-accent: #f0f0f0;
  --low-contrast-text-accent-alpha: #f0f0f0;
  --low-contrast-text-error: #f0f0f0;
  --low-contrast-text-error-alpha: #f0f0f0;
  --low-contrast-text-success: #f0f0f0;
  --low-contrast-text-success-alpha: #f0f0f0;
  --low-contrast-text-warning: #f0f0f0;
  --low-contrast-text-warning-alpha: #f0f0f0;
  --low-contrast-text-info: #f0f0f0;
  --low-contrast-text-info-alpha: #f0f0f0;
  /* 12 */
  --high-contrast-text: #fff;
  --high-contrast-text-alpha: #fff;
  --high-contrast-text-accent: #f0f0f0;
  --high-contrast-text-accent-alpha: #f0f0f0;
  --high-contrast-text-error: #f0f0f0;
  --high-contrast-text-error-alpha: #f0f0f0;
  --high-contrast-text-success: #f0f0f0;
  --high-contrast-text-success-alpha: #f0f0f0;
  --high-contrast-text-warning: #f0f0f0;
  --high-contrast-text-warning-alpha: #f0f0f0;
  --high-contrast-text-info: #f0f0f0;
  --high-contrast-text-info-alpha: #f0f0f0;

  /* Semantic Colors */
  --color-absolute-dark: #000;
  --color-absolute-dark-accent: #111;
  --color-absolute-light: #fff;
  --color-absolute-light-accent: #f0f0f0;
}

@theme inline {
  /* Radix Color Scale */
  /* 1 */
  --color-app-background: var(--app-background);
  --color-app-background-alpha: var(--app-background-alpha);
  --color-app-background-accent: var(--app-background-accent);
  --color-app-background-accent-alpha: var(--app-background-accent-alpha);
  --color-app-background-error: var(--app-background-error);
  --color-app-background-error-alpha: var(--app-background-error-alpha);
  --color-app-background-success: var(--app-background-success);
  --color-app-background-success-alpha: var(--app-background-success-alpha);
  --color-app-background-warning: var(--app-background-warning);
  --color-app-background-warning-alpha: var(--app-background-warning-alpha);
  --color-app-background-info: var(--app-background-info);
  --color-app-background-info-alpha: var(--app-background-info-alpha);
  /* 2 */
  --color-subtle-background: var(--subtle-background);
  --color-subtle-background-alpha: var(--subtle-background-alpha);
  --color-subtle-background-accent: var(--subtle-background-accent);
  --color-subtle-background-accent-alpha: var(--subtle-background-accent-alpha);
  --color-subtle-background-error: var(--subtle-background-error);
  --color-subtle-background-error-alpha: var(--subtle-background-error-alpha);
  --color-subtle-background-success: var(--subtle-background-success);
  --color-subtle-background-success-alpha: var(--subtle-background-success-alpha);
  --color-subtle-background-warning: var(--subtle-background-warning);
  --color-subtle-background-warning-alpha: var(--subtle-background-warning-alpha);
  --color-subtle-background-info: var(--subtle-background-info);
  --color-subtle-background-info-alpha: var(--subtle-background-info-alpha);
  /* 3 */
  --color-ui-element-background: var(--ui-element-background);
  --color-ui-element-background-alpha: var(--ui-element-background-alpha);
  --color-ui-element-background-accent: var(--ui-element-background-accent);
  --color-ui-element-background-accent-alpha: var(--ui-element-background-accent-alpha);
  --color-ui-element-background-error: var(--ui-element-background-error);
  --color-ui-element-background-error-alpha: var(--ui-element-background-error-alpha);
  --color-ui-element-background-success: var(--ui-element-background-success);
  --color-ui-element-background-warning: var(--ui-element-background-warning);
  --color-ui-element-background-warning-alpha: var(--ui-element-background-warning-alpha);
  --color-ui-element-background-info: var(--ui-element-background-info);
  --color-ui-element-background-info-alpha: var(--ui-element-background-info-alpha);
  /* 4 */
  --color-hovered-ui-element-background: var(--hovered-ui-element-background);
  --color-hovered-ui-element-background-alpha: var(--hovered-ui-element-background-alpha);
  --color-hovered-ui-element-background-accent: var(--hovered-ui-element-background-accent);
  --color-hovered-ui-element-background-accent-alpha: var(--hovered-ui-element-background-accent-alpha);
  --color-hovered-ui-element-background-error: var(--hovered-ui-element-background-error);
  --color-hovered-ui-element-background-error-alpha: var(--hovered-ui-element-background-error-alpha);
  --color-hovered-ui-element-background-success: var(--hovered-ui-element-background-success);
  --color-hovered-ui-element-background-success-alpha: var(--hovered-ui-element-background-success-alpha);
  --color-hovered-ui-element-background-warning: var(--hovered-ui-element-background-warning);
  --color-hovered-ui-element-background-warning-alpha: var(--hovered-ui-element-background-warning-alpha);
  --color-hovered-ui-element-background-info: var(--hovered-ui-element-background-info);
  --color-hovered-ui-element-background-info-alpha: var(--hovered-ui-element-background-info-alpha);
  /* 5 */
  --color-active-ui-element-background: var(--active-ui-element-background);
  --color-active-ui-element-background-alpha: var(--active-ui-element-background-alpha);
  --color-active-ui-element-background-accent: var(--active-ui-element-background-accent);
  --color-active-ui-element-background-accent-alpha: var(--active-ui-element-background-accent-alpha);
  --color-active-ui-element-background-error: var(--active-ui-element-background-error);
  --color-active-ui-element-background-error-alpha: var(--active-ui-element-background-error-alpha);
  --color-active-ui-element-background-success: var(--active-ui-element-background-success);
  --color-active-ui-element-background-success-alpha: var(--active-ui-element-background-success-alpha);
  --color-active-ui-element-background-warning: var(--active-ui-element-background-warning);
  --color-active-ui-element-background-warning-alpha: var(--active-ui-element-background-warning-alpha);
  --color-active-ui-element-background-info: var(--active-ui-element-background-info);
  --color-active-ui-element-background-info-alpha: var(--active-ui-element-background-info-alpha);
  /* 6 */
  --color-subtle-border: var(--subtle-border);
  --color-subtle-border-alpha: var(--subtle-border-alpha);
  --color-subtle-border-accent: var(--subtle-border-accent);
  --color-subtle-border-accent-alpha: var(--subtle-border-accent-alpha);
  --color-subtle-border-error: var(--subtle-border-error);
  --color-subtle-border-error-alpha: var(--subtle-border-error-alpha);
  --color-subtle-border-success: var(--subtle-border-success);
  --color-subtle-border-success-alpha: var(--subtle-border-success-alpha);
  --color-subtle-border-warning: var(--subtle-border-warning);
  --color-subtle-border-warning-alpha: var(--subtle-border-warning-alpha);
  --color-subtle-border-info: var(--subtle-border-info);
  --color-subtle-border-info-alpha: var(--subtle-border-info-alpha);
  /* 7 */
  --color-ui-element-border: var(--ui-element-border);
  --color-ui-element-border-alpha: var(--ui-element-border-alpha);
  --color-ui-element-border-accent: var(--ui-element-border-accent);
  --color-ui-element-border-accent-alpha: var(--ui-element-border-accent-alpha);
  --color-ui-element-border-error: var(--ui-element-border-error);
  --color-ui-element-border-error-alpha: var(--ui-element-border-error-alpha);
  --color-ui-element-border-success: var(--ui-element-border-success);
  --color-ui-element-border-success-alpha: var(--ui-element-border-success-alpha);
  --color-ui-element-border-warning: var(--ui-element-border-warning);
  --color-ui-element-border-warning-alpha: var(--ui-element-border-warning-alpha);
  --color-ui-element-border-info: var(--ui-element-border-info);
  --color-ui-element-border-info-alpha: var(--ui-element-border-info-alpha);
  /* 8 */
  --color-hovered-ui-element-border: var(--hovered-ui-element-border);
  --color-hovered-ui-element-border-alpha: var(--hovered-ui-element-border-alpha);
  --color-hovered-ui-element-border-accent: var(--hovered-ui-element-border-accent);
  --color-hovered-ui-element-border-accent-alpha: var(--hovered-ui-element-border-accent-alpha);
  --color-hovered-ui-element-border-error: var(--hovered-ui-element-border-error);
  --color-hovered-ui-element-border-error-alpha: var(--hovered-ui-element-border-error-alpha);
  --color-hovered-ui-element-border-success: var(--hovered-ui-element-border-success);
  --color-hovered-ui-element-border-success-alpha: var(--hovered-ui-element-border-success-alpha);
  --color-hovered-ui-element-border-warning: var(--hovered-ui-element-border-warning);
  --color-hovered-ui-element-border-warning-alpha: var(--hovered-ui-element-border-warning-alpha);
  --color-hovered-ui-element-border-info: var(--hovered-ui-element-border-info);
  --color-hovered-ui-element-border-info-alpha: var(--hovered-ui-element-border-info-alpha);
  /* 9 */
  --color-solid-background: var(--solid-background);
  --color-solid-background-alpha: var(--solid-background-alpha);
  --color-solid-background-accent: var(--solid-background-accent);
  --color-solid-background-accent-alpha: var(--solid-background-accent-alpha);
  --color-solid-background-error: var(--solid-background-error);
  --color-solid-background-error-alpha: var(--solid-background-error-alpha);
  --color-solid-background-success: var(--solid-background-success);
  --color-solid-background-success-alpha: var(--solid-background-success-alpha);
  --color-solid-background-warning: var(--solid-background-warning);
  --color-solid-background-warning-alpha: var(--solid-background-warning-alpha);
  --color-solid-background-info: var(--solid-background-info);
  --color-solid-background-info-alpha: var(--solid-background-info-alpha);
  /* 10 */
  --color-hovered-solid-background: var(--hovered-solid-background);
  --color-hovered-solid-background-alpha: var(--hovered-solid-background-alpha);
  --color-hovered-solid-background-accent: var(--hovered-solid-background-accent);
  --color-hovered-solid-background-accent-alpha: var(--hovered-solid-background-accent-alpha);
  --color-hovered-solid-background-error: var(--hovered-solid-background-error);
  --color-hovered-solid-background-error-alpha: var(--hovered-solid-background-error-alpha);
  --color-hovered-solid-background-success: var(--hovered-solid-background-success);
  --color-hovered-solid-background-success-alpha: var(--hovered-solid-background-success-alpha);
  --color-hovered-solid-background-warning: var(--hovered-solid-background-warning);
  --color-hovered-solid-background-warning-alpha: var(--hovered-solid-background-warning-alpha);
  --color-hovered-solid-background-info: var(--hovered-solid-background-info);
  --color-hovered-solid-background-info-alpha: var(--hovered-solid-background-info-alpha);
  /* 11 */
  --color-low-contrast-text: var(--low-contrast-text);
  --color-low-contrast-text-alpha: var(--low-contrast-text-alpha);
  --color-low-contrast-text-accent: var(--low-contrast-text-accent);
  --color-low-contrast-text-accent-alpha: var(--low-contrast-text-accent-alpha);
  --color-low-contrast-text-error: var(--low-contrast-text-error);
  --color-low-contrast-text-error-alpha: var(--low-contrast-text-error-alpha);
  --color-low-contrast-text-success: var(--low-contrast-text-success);
  --color-low-contrast-text-warning: var(--low-contrast-text-warning);
  --color-low-contrast-text-warning-alpha: var(--low-contrast-text-warning-alpha);
  --color-low-contrast-text-info: var(--low-contrast-text-info);
  --color-low-contrast-text-info-alpha: var(--low-contrast-text-info-alpha);
  /* 12 */
  --color-high-contrast-text: var(--high-contrast-text);
  --color-high-contrast-text-alpha: var(--high-contrast-text-alpha);
  --color-high-contrast-text-accent: var(--high-contrast-text-accent);
  --color-high-contrast-text-accent-alpha: var(--high-contrast-text-accent-alpha);
  --color-high-contrast-text-error: var(--high-contrast-text-error);
  --color-high-contrast-text-error-alpha: var(--high-contrast-text-error-alpha);
  --color-high-contrast-text-success: var(--high-contrast-text-success);
  --color-high-contrast-text-success-alpha: var(--high-contrast-text-success-alpha);
  --color-high-contrast-text-warning: var(--high-contrast-text-warning);
  --color-high-contrast-text-warning-alpha: var(--high-contrast-text-warning-alpha);
  --color-high-contrast-text-info: var(--high-contrast-text-info);
  --color-high-contrast-text-info-alpha: var(--high-contrast-text-info-alpha);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
